@font-face {
    font-family: 'GentleMonsterSerif';
    font-weight: 500;
    font-style: normal;
    src: url(../font/GentleMonsterSerif-Regular.woff) format("woff"),url(../font/GentleMonsterSerif-Regular.ttf) format("ttf");
}
